#EXTRACTING DATA

In [57]:
# IMPORTING PACKAGES

import pandas as pd
import requests
import pandas_ta as ta
import matplotlib.pyplot as plt
from termcolor import colored as cl
import math 
from datetime import datetime, timedelta

plt.rcParams['figure.figsize'] = (20,10)
plt.style.use('fivethirtyeight')

In [58]:
#The variable days_back represents the number of days in the past from which I intend to retrieve the data.
#The variable symbol is a coin pair. For example if you want bitcoin historical data, the symbol to use is BTCUSDT. 

API_URL = 'https://api.binance.com/api/v3/klines' # Binance API endpoint for candlestick data

def get_historical_data(symbol, days_back, interval):
    # Calculate the start time in milliseconds
    start_time = int((datetime.now() - timedelta(days=days_back)).timestamp() * 1000)

    # Calculate the current time in milliseconds
    end_time = int(datetime.now().timestamp() * 1000)

    # Make an API request to retrieve historical data
    hist_json = requests.get(API_URL, params={
        'symbol': symbol,
        'interval': interval,
        'startTime': start_time,
        'endTime': end_time,
        'limit': 1000  # Maximum number of data points per request
    }).json()

    #print(hist_json)

    # Making a df from response
    # Extract only the relevant elements for each row
    df = pd.DataFrame(hist_json, columns=[
        'Time', 'Open Price', 'High Price', 'Low Price',
        'Close Price', 'Volume', 'Kline Close Time', 'Quote Asset Volume',
        'Number of Trades', 'Taker Buy Base Asset Volume',
        'Taker Buy Quote Asset Volume', 'Unused Field'
    ])

    # Select only the relevant columns (Open Time, Open Price, High Price, Low Price, Close Price, Volume)
    df = df[['Time', 'Open Price', 'High Price', 'Low Price', 'Close Price', 'Volume']]
    df['dateTime'] = pd.to_datetime(df['Time'], unit='ms')
    
    return df

In [59]:
btc = get_historical_data('BTCUSDT', 365, '1w')
btc.head()

,Time,Open Price,High Price,Low Price,Close Price,Volume,dateTime
0,1676246400000,21782.37000000,25250.00000000,21351.07000000,24271.76000000,2497565.47508000,2023-02-13
1,1676851200000,24272.51000000,25250.00000000,22722.00000000,23554.85000000,2237983.72753000,2023-02-20
2,1677456000000,23554.85000000,24000.00000000,21971.13000000,22430.24000000,1698503.29143000,2023-02-27
3,1678060800000,22430.24000000,22602.19000000,19549.09000000,21997.11000000,2718623.72856000,2023-03-06
4,1678665600000,21998.05000000,28390.10000000,21813.88000000,27972.87000000,3775888.94983000,2023-03-13